<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div id="headerText">Use application as</div>
<div class="box-container" id="buttonContainer">
  <div class="box user-box" onclick="selectRole('User')" id="userBox">
    <span>User</span>
  </div>
  <div class="box partner-box" onclick="selectRole('Partner')" id="partnerBox">
    <span>Partner</span>
  </div>
</div>

<button id="backButton" onclick="goBack()">Back</button>

<script src="/js/script.js"></script>
</body>
</html>
