<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div id="headerText">Use application as</div>
<div class="box-container" id="buttonContainer">
  <div class="box user-box" onclick="selectRole('User')" id="userBox">
    <span>User</span>
  </div>
  <div class="box partner-box" onclick="selectRole('Partner')" id="partnerBox">
    <span>Partner</span>
  </div>
</div>

<button id="backButton" onclick="goBack()">Back</button>

<div id="ticketModal" class="modal hidden">
  <div class="modal-content">
    <h3>Enter your details</h3>
    <div id="generateTicketForm">
      <input id="name" type="text" name="name" placeholder="Name" required />
      <input id="email" type="email" name="email" placeholder="Email" required />
      <input id="phone" type="tel" name="phone" placeholder="Phone" required />
      <button type="button" class="action-button" onclick="submitTicket()">Submit</button>
      <button type="button" class="action-button" onclick="closeGenerateTicketModal()">Cancel</button>
    </div>
  </div>
</div>

<script src="/js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/qrcode@1.5.1/build/qrcode.min.js"></script>
</body>
</html>
