body {
    background: #f3f4f6;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.box {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.user-box {
    background-color: #EEF8BA;
}

.partner-box {
    background-color: #00AB94;
    color: white;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    color: black;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ddd;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    z-index: 50;
}

.modal-content {
    background: white;
    border-radius: 12px;
    padding: 20px;
    width: 300px;
}

.modal-content input {
    /*width: 100%;*/
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
